<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <title>Salvage My Computer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <script src="/semantic/dist/components/visibility.js"></script>
    <script src="/semantic/dist/components/sidebar.js"></script>
    <script src="/semantic/dist/components/transition.js"></script>
    <script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>


</head>

<body>

    <!-- <script>
        $(document)
            .ready(function() {
                // fix menu when passed
                $('.masthead')
                    .visibility({
                        once: false,
                        onBottomPassed: function() {
                            $('.fixed.menu').transition('fade in');
                        },
                        onBottomPassedReverse: function() {
                            $('.fixed.menu').transition('fade out');
                        }
                    });
                // create sidebar and attach to menu open
                $('.ui.sidebar')
                    .sidebar('attach events', '.toc.item');
            });
    </script>  -->
    <!-- Following Menu -->
    <div class="ui menu">
        <div class="header item">
            Our Company
        </div>

        <a class="item" href="about.html">
                About
            </a>
        <a class="item" href="contact.html">
                Contact Us
            </a>
        <a class="item" href="index.html">
                Home
            </a>
    </div>


    <!-- Page Contents -->
    <div class="ui inverted vertical masthead center aligned segment">
        <div class="ui text container">
            <h1 class="ui inverted header">
                Jamison Computer Repair and Services
            </h1>
            <h2>Fast, Affordable and Reliable Computer Repair 24/7</h2>
            <h2>Family Owned and Operated</h2>
            <div class="ui animated fade large blue button" tabindex="0">
                <div class="visible content">Services</div>
                <div class="hidden content"><i class="chevron down icon"></i></div>

            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui middle aligned stackable grid container">
            <div class="row">
                <div class="ten wide column">
                    <h3 class="ui header">Services</h3>
                    <div>
                    </div>
                </div>
            </div>

            <div class="row services text">
                <div class="five wide column">
                    <ul>
                        <li>Computer Service and Repair</li>
                        <li>Software and Hardware Troubleshooting</li>
                        <li>Computer Performance Optimization</li>
                        <li>Data Backup and Storage</li>
                        <li>Data Recovery</li>
                    </ul>
                </div>

                <div class="four wide column">
                    <ul>
                        <li>Internet Security</li>
                        <li>Networking</li>
                        <li>Spyware Protection</li>
                        <li>Data Cabling and Installation</li>
                    </ul>
                </div>

                <div class="six wide right floated column">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQIwVTO3PYsg_kTDzeWoI1KIY3shi1Drg9ir5PsPntRSL6L_9r9qQ" alt="computer image" class="ui large bordered rounded image">
                </div>
            </div>
        </div>
    </div>


    <div class="ui vertical stripe quote segment">
        <div class="ui equal width stackable internally celled grid">
            <div class="center aligned row">
                <div class="column">
                    <h3>No Fee Guarantee!</h3>
                    <p>No charge for your diagnosis and there is no charge if we can't fix it. <br> 24 turnaround guaranteed.</p>
                </div>
                <div class="column">
                    <h3>We'll make it easy for you!</h3>
                    <p>We suppport home or business repairs and will take care of all your needs onsite, drop off or remote.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="ui vertical stripe segment">
        <div class="ui text container">
            <h3 class="ui header"> The Company</h3>
            <p>Jamison Computer Services has been serving thousands of satisfied business and home customers nationwide with fast, reliable, and affordable services since 2006. At Jamison Computer Services we understand the importance of computers in today’s
                lifestyle. Computers are essential for carrying vital personal, financial and business information. The Company's goal is to be the most reliable, prompt, private and personal high quality computer repair service available on the market
                today.
            </p>
            <!-- <a class="ui large button">Wookie</a> -->
            <h4 class="ui horizontal header divider">
                <a href="https://www.google.com/maps/place/24233+Creekside+Rd,+Santa+Clarita,+CA+91355/@34.4223025,-118.5622587,17z/data=!3m1!4b1!4m5!3m4!1s0x80c287417cb7b711:0xfba6ecbdd328d522!8m2!3d34.4222981!4d-118.56007">24233 Creekside Rd, Santa Clarita, CA 91355</a>
            </h4>

        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="six wide column">
                    <div class="ui inverted link list">
                        <a href="/home" class="item">Home</a><br>
                        <a href="/contact" class="item">Contact Us</a>
                    </div>
                </div>

                <div class="nine wide column">
                    <h3 class="ui inverted header">Find us on Social</h3>
                    <a href="https://www.facebook.com/ComputerRepairSantaClarita/" class="ui facebook button"><i class="facebook icon"></i>Facebook</a>
                    <a href="https://plus.google.com/107678983853979539182?gl=US&hl=en-US" class="ui google plus button"><i class="google plus icon"></i>Google Plus</a>
                </div>
            </div>
        </div>
    </div>


    <script src="assets/app.js"></script>

</body>

</html>