/*About Page  */

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3.ui.header {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    padding: 5px;
}

a.active.item {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

div.ui.menu {
    padding: 20px;
}

h1.ui.header {
    color: black;
}

h2.ui.header {
    color: black;
}

h3.ui.header {
    margin-top: 10%;
    padding-top: 3%;
    color: black;
}

h2.ui.header {
    color: black;
    margin-top: 5%;
    margin-left: 29.5%;
}

i.plug.icon {
    margin-top: 35%;
    color: sandybrown;
}

a.item {
    text-decoration-color: white;
    font-size: 16px;
}

div.content {
    color: black;
    font-weight: normal;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 1px;
}

div.ui.card {
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
}

#inquiry {
    text-align: center;
}

div.nine.wide.column {
    margin-top: -2%;
}

a.active.item {
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

div.ui.menu {
    padding: 20px;
}

div.nine.wide.column {
    margin-top: -2%;
}

div.six.wide.column {
    margin-left: 5%
}


/* // about page */

h1 {
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
    padding: 5px;
}


/*footer  */

div.ui.inverted.vertical.footer.segment {
    /* margin-left: 15%; */
    text-align: center;
}

div.six.wide.column {
    margin-left: 5%
}

#confimation {
    text-align: center;
}

.confirmed {
    width: 100%;
    height: 200px;
    display: inline-block;
    margin-top: 100px;
    margin-right: 50px;
    font-family: Open Sans, Arial;
    font-weight: 300;
    font-size: 4em;
    color: #fff;
    opacity: 1;
    transition: all 2.5s ease;
}

ui.container {
    align-content: center;
}

div.ui.text.container {
    margin-top: 25px;
    margin-bottom: 25px;
}

.hidden.menu {
    display: none;
}

.ui.inverted.vertical.masthead {
    /* background-image: 
          url(../images/Futuristic.mp4);    
          opacity: 0.8;   */
    background-size: cover;
}

.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}

.masthead .logo.item img {
    margin-right: 1em;
}

.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}

.masthead .ui.inverted.header {
    margin-top: .5em;
}

.masthead h1.ui.header {
    margin-top: .02em;
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 70px;
    padding: 80px 50px;
    text-align: center;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    color: #e0dfdc;
    background-color: #333;
    box-shadow: 0px 0px 5px #fff;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.masthead h2 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 1.5em;
    text-shadow: 0px -2px 0px #333, 0px 2px 3px #666;
}

.ui.vertical.stripe {
    padding: 8em 0em;
}

.ui.vertical.stripe h3 {
    font-size: 4em;
}

.ui.vertical.stripe .button+h3,
.ui.vertical.stripe p+h3 {
    margin-top: 3em;
}

.ui.vertical.stripe.floated.image {
    clear: both;
}

.ui.vertical.stripe p {
    font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
    margin: 3em 0em;
}

h1.ui.header {
    font-size: large;
}

div.row.services.text {
    margin-top: 10px;
}

.quote.stripe.segment {
    padding: 0em;
}

.row.services.text {
    font-size: large;
}

.quote.stripe.segment .grid .column {
    padding-top: 5em;
    padding-bottom: 5em;
}

.footer.segment {
    padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
    display: none;
}


/* CONTACT PAGE */

div.four.wide.fields {
    margin-top: 5%;
    margin-left: 20%;
    padding-bottom: 4%;
}

div.three.wide.fields {
    margin-left: 33%;
}

div.sixteen.wide.fields {
    margin-top: 2%;
    margin-left: 30%;
    width: 40%;
    text-align: center;
}

#first_name {
    color: white;
}

#last_name {
    color: white;
}

#email {
    color: white;
}

label#message {
    color: white;
    text-align: center;
    margin-top: 3%;
}

div.inline.fields {
    margin-left: 30%;
}

#phone1 {
    margin-left: 10%;
    align-content: center;
}

@media only screen and (max-width: 700px) {
    .ui.fixed.menu {
        display: none !important;
    }
    .secondary.pointing.menu .item,
    .secondary.pointing.menu .menu {
        display: none;
    }
    .secondary.pointing.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}